@import "tailwindcss";

 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {

  --color-brand-light:#FFFCEE;
  --color-brand-primary:#F75C2E;
  --color-brand-gray:#3B3B3B;
  --color-brand-background:#D8D6CF;
  --color-brand-primary-dark:#C94F2B;


  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
